ul{
    color: rgb(102, 255, 0);
}
.lista:nth-child(1){
    color: rgb(255, 149, 0);
    display:flex;
}
span{
    background-color: red;
    border: 10px red solid;
    justify-content: space-between;
    display: flex;
}
p.title{
    color:rgb(16, 15, 15);
    justify-content: space-between;
}
p.value{
    color:blue;
    text-align: right;
    justify-content: flex-end;
}